.slider {
}

.slider__item {
}

.slide {
  position: relative;
  display: inline-block;
  padding-left: 80px;
}

.slide__title {
  position: absolute;
  left: 0;
  bottom: 104px;
  font-size: 140px;
  font-weight: $bold;

  background: linear-gradient(90deg, $color-accent 80px, $color-white 80px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slide__img {
}
