@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import "./fonts/gilroy/stylesheet.css";

body {
  font-family: $font-main;
  font-weight: $medium;
  color: $color-main;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1750px;
}

.container-right {
  padding-left: calc((100% - 1750px) / 2 + 15px);
}

.link {
  @include links($color-accent);
  transition: border-bottom 0.15s ease-out;

  &:hover {
    border-bottom: 2px solid $color-accent;
  }
}

.title {
  font-size: 80px;
  font-weight: $bold;
}

.text {
  font-size: 28px;
  line-height: 1.57;
  color: $color-text;
}

.none {
  display: none;
}
