@mixin links($color) {
  color: $color;
  font-size: 20px;
  line-height: 36px;
  font-weight: $bold;
}

@mixin mediaLaptop {
  @media screen and (max-width: $laptop) {
    @content;
  }
}

@mixin mediaTablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin mediaMobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}
