//Fonts
$font-main: "Gilroy", sans-serif;
$font-accent: "Work Sans", sans-serif;
$medium: 500;
$bold: 800;

//Colors
$color-main: rgb(31, 31, 31);
$color-accent: rgb(17, 68, 85);
$color-header: rgb(234, 244, 246);
$color-white: rgb(255, 255, 255);
